
@import url(https://fonts.googleapis.com/css?family=Rajdhani:300);
html, body {
  background-color: rgba(33, 33, 33, 1);
  width: 100%;
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
}

.scifiUI {
  list-style: none;
  position: relative;
  width: 600px;
  margin: 50px auto;
  padding: 0;
  font-size: 1em;
  color: rgba(0, 190, 190, 1);
}

li {
  display: inline-block;
}

li input[type="radio"] {
  opacity: 0;
  position: absolute;
  outline: none;
}

li input[type="radio"]:checked ~ label {
  background: rgba(0, 190, 190, 1);
  color: rgba(33, 33, 33, 1);
  height: 50px;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: default;
}

li input[type="radio"]:checked ~ .section {
  opacity: 1;
  width: 500px;
  padding: 50px;
  border: 1px solid rgba(0, 190, 190, 1);
  color: rgba(0, 220, 220, 1);
  letter-spacing: 0.1em;
  text-indent: 1em;
  z-index: 1;
}

li label {
  display: block;
  width: 500px;
  height: 40px;
  border: 1px solid rgba(0, 190, 190, .7);
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  color: rgba(0, 190, 190, .7);
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

li label:hover {
  height: 50px;
  border-color: rgba(0, 190, 190, 1);
  color: rgba(0, 190, 190, 1);
}

li .section {
  opacity: 0;
  position: absolute;
  top: 51px;
  left: 0;
  width: 1000px;
  padding: 50px;
  border: 1px solid rgba(0, 190, 190, 1);
  background: rgba(0, 190, 190, .1);
  color: rgba(255, 255, 255, 1);
  letter-spacing: -1em;
  text-indent: 1em;
  transition: all 200ms ease-in-out;
}

.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connect-wallet-button {
  background: rgba(0, 190, 190, 1);
  color: rgba(33, 33, 33, 1);
  width: 200px;
  height: 50px;
  border: 1px solid rgba(0, 190, 190, .7);
  border-radius: 5px 5px 5px 5px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  cursor: default;
  transition: all 200ms ease-in-out;
}

.connect-wallet-button:hover {
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 220, 220, 1);
}


.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
